.validaciones{
  padding-bottom: 4px;
  height: 0px;
  small{
    padding: 0 !important;
  }
}

.cont-btns{
  text-align: right;
  button, a {
    margin-right: 10px;
  }
}

// .cont-btns a:last-child{
//   margin-right: 0px;
// }