<div class="wrap-buttons">
  <a mat-raised-button matTooltip="Creación de un nuevo cliente" matTooltipPosition="left" color="primary" [routerLink]="'/catalogos/crear-cliente'">Crear Cliente</a>
</div>

<mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Clientes" value="" (keyup)='updateFilter($event)'>
</mat-form-field>


<div fxLayout="row wrap" *ngIf="obs$ | async as clientes; else noClientes">
  <ng-container *ngIf="clientes.length; else loading">
    <div *ngFor="let cliente of clientes" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">

      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text">
            <!-- <a class="toolbar-avatar md mr-1"><img src="assets/images/logo-panaderia.png" alt="logo"></a> -->
            <span class="title-card-catalogs">{{cliente.razonSocial}}</span>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="clienteMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #clienteMenu="matMenu">
              <button mat-menu-item [routerLink]="['/catalogos/qr', cliente.idCliente]">Código QR</button>
              <button mat-menu-item [routerLink]="['/catalogos/modificar-cliente', cliente.idCliente]">Editar</button>
              <button mat-menu-item (click)="openDialoAlertDelete(cliente.idCliente)">Eliminar</button>
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content>
          <div class="wrap-details">
            <p class="p-info-catalogss" matTooltip="Propietario" matTooltipPosition="below">
              <mat-icon class="text-muted">person</mat-icon>
              <span>{{cliente.propietario}}</span>
            </p>
            <p class="p-info-catalogss" matTooltip="Teléfono" matTooltipPosition="below">
              <mat-icon class="text-muted">phone</mat-icon> 
              <span>{{cliente.telefono}}</span>
            </p>
            <p class="p-info-catalogss" matTooltip="Correo Electrónico" matTooltipPosition="below">
              <mat-icon class="text-muted">email</mat-icon> 
              <span>{{cliente.email}}</span>
            </p>
          </div>
          <div class="wrap-detailss">
            <p class="p-info-catalogss " matTooltip="Dirección" matTooltipPosition="below">
              <mat-icon class="text-muted">store</mat-icon> 
              <span>{{cliente.calle}} No. {{cliente.numero}}, Colonia {{cliente.colonia}}, {{cliente.codigoPostal}} {{cliente.ciudad}}, México.</span>
              <!-- <span>{{cliente.calle}} No. {{cliente.numero}}, Colonia {{cliente.colonia}}</span> -->
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noClientes>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
      <mat-card class="user-card p-0">
        <mat-card-content>
          <!-- <img src="assets/images/icons/no-close.png" alt="no found"> -->
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <div class="wrap-loading-catalog">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</ng-template>

<div *ngIf="estatusData === 0">
  <div class="wrap-loading-catalog">
    <h2>No se encontró información referente a
      <b style="color:red">{{dataSerach}}</b>
    </h2>
  </div>
</div>

<!-- <mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator> -->
<mat-paginator [pageSizeOptions]="[10]" (page)="pageEvent($event)"></mat-paginator>