.wrap-button {
  text-align: right;
}

.wrap-mapa {
  margin: 20px 10px;
  agm-map {
    height: 400px;
  }
}

.table-container {
  position: relative;
  max-height: 400px !important;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}