<div class="wrap-search">
  <mat-card>
    <mat-form-field class="search-form-field">
      <mat-label>Buscar Artículos</mat-label>
      <input matInput #search type="text" [(ngModel)]="dataSearch" (keyup)='searchArticles($event)' [readonly]="isReadOnly">
      <button mat-button *ngIf="dataSearch" matSuffix mat-icon-button aria-label="Clear" (click)="cleanSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="data-result">
      <div *ngIf="searchNow">
        <div class="wrap-loading-catalog">
          <mat-spinner [diameter]="60"></mat-spinner>
        </div>
      </div>
      <div class="no-data" *ngIf="noData">
        <img src="assets/images/not-found.jpg" alt="no">
      </div>

      <ul *ngIf="articulos" class="data-coustomer">
        <li (click)="setArticle(articulo)" *ngFor="let articulo of articulos">
          <a title="Agregar Cliente">{{articulo.nombre}}</a>
        </li>
      </ul>
    </div>
  </mat-card>
</div>

<div class="wrap-result">
  <a *ngIf="!idPedido" class="btn-return" mat-mini-fab color="primary"  [routerLink]= "['/pedidos/ver-pedidos']" matTooltip="Regresar a lista de pedidos">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
  <p class="data-order-coustomer" *ngIf="pedido && idPedido">
    pedido <b>no. {{pedido.idPedido}}</b> para la razón social <b>{{pedido.vistaCliente.razonSocial}}</b>
  </p>
  <p class="data-order-coustomer" *ngIf="pedido && !idPedido">
    pedido <b>no. {{pedido.idPedido}}</b> para la razón social <a title="Ir a modificar cliente" style="font-weight: bold" [routerLink] ="['/pedidos/modificar-pedido', pedido.idPedido, idRuta]">{{pedido.vistaCliente.razonSocial}}</a>
  </p>
  <mat-card>
    <div *ngIf="isLoadingData">
      <div class="wrap-loading-catalog">
        <mat-spinner [diameter]="60"></mat-spinner>
      </div>
    </div>
    <div class="wrap-totales" *ngIf="!isLoadingData && articulosSeleccionados.length">
      <p>Se han agregado: {{totalProductosAgregados}} artículos al pedido</p>
    </div>
    <div class="coustomer-container mat-elevation-z8" *ngIf="!isLoadingData && articulosSeleccionados.length">
      <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">

        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef>
            <div class="align-center"> No. </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let article; let i = index">
            <span class="mobile-label">No:</span>
            <div class="align-center">
              {{i+1}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef>
            <div class="align-center"> Nombre </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let article">
            <span class="mobile-label">Nombre:</span>
            <div class="align-center">
              {{article.articulo.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="familia">
          <mat-header-cell *matHeaderCellDef>
            <div class="align-center"> Familia </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let article">
            <span class="mobile-label">Familia:</span>
            <div class="align-center">
              {{article.articulo.familia.descripcion || '-'}}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidadMatutina">
          <mat-header-cell *matHeaderCellDef>
            <div class="align-center"> Cantidad </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let article">
            <span class="mobile-label">Cantidad:</span>
            <div class="align-center">
              <mat-form-field appearance="outline" class="cantidad-seleccionada">
                <mat-label>Matutina</mat-label>
                <input (keyup)="getTotalProductosAgregados()" matInput type="number" placeholder="Cantidad Matutina" [(ngModel)]="article.cantidad" [readonly]="isReadOnlyCM">
              </mat-form-field>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidadVespertina">
          <mat-header-cell *matHeaderCellDef>
            <div class="align-center"> Cantidad </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let article">
            <span class="mobile-label">Cantidad:</span>
            <div class="align-center">
              <mat-form-field appearance="outline" class="cantidad-seleccionada">
                <mat-label>Vespertina</mat-label>
                <input (keyup)="getTotalProductosAgregados()" matInput type="number" placeholder="Cantidad Vespertina" [(ngModel)]="article.cantidadVespertino" [readonly]="isReadOnlyCV">
              </mat-form-field>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef>
            <div class="align-center"> Acciones </div>
          </mat-header-cell>
          <mat-cell *matCellDef="let article; let i = index">
            <span class="mobile-label">Acciones:</span>
            <div class="align-center">
              <button *ngIf="pedido.idEstatus === 1" mat-mini-fab color="primary" (click)="deleteArticle(i, article)" matTooltip="Quitar Articulo" matTooltipPosition="left">
                <mat-icon>delete</mat-icon>
              </button>
              <button *ngIf="pedido.idEstatus !== 1" mat-mini-fab disabled>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[10, 20,30, 100]"></mat-paginator> -->
    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    <div *ngIf="pedido">
      <div class="col-button" *ngIf="pedido.idEstatus === 1">
        <button  *ngIf="showClose" class="close-btn"  mat-raised-button color="warn" (click)="closeOrder()" matTooltip="Cerrar el pedido actual">Cerrar pedido</button>
        <button #save mat-raised-button color="primary" (click)="CrearDetallePedido()" matTooltip="Agregar artículos al pedido actual">Agregar Artículos</button>
      </div>
    </div>

    <!-- <div class="col-button" *ngIf="!isLoadingData && articulosSeleccionados.length">
      <button #save mat-raised-button color="primary" (click)="CrearDetallePedido()">Agregar Artículos</button>
    </div> -->
  </mat-card>
</div>