.validaciones{
  padding-bottom: 4px;
  // border: 1px solid red;
  height: 0px;
}

.validaciones small{
  padding: 0 !important;
}

.cont-btns{
  text-align: right;
  #accion-empleados {
    display: inline;
    margin-right: 10px;
  }
}