.wrap-address {
  margin: 10px 0;
}
.map-container {
  width: 75vw;
  position: relative;
  height: 600px;
  margin-top: 10px;
}

agm-map {
  height: 600px;
  margin-bottom: 10px !important;
}

.wrap-button {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 10px;
}