.no-data {
  text-align: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  margin-top: 4px;
}

.wrap-button {
  text-align: right;
  margin-bottom: 20px;
}
.container-counts {
  width: 100%;
  position: relative;
  overflow: auto;
  padding: 5px 0;
  .wrap-counts {
    // border: 1px solid red;
    width: auto;
    border-radius: 10px;
    max-height: 500px;

    .mat-expansion-panel {
      .check-count {
        pointer-events: all;
      }
      &:nth-child(even) {
        background: aliceblue;
      }
      .mat-expansion-panel-header {
        &[aria-disabled='true'] {
          color: rgba(0, 0, 0, 1);
        }
        padding: 0;
        ::ng-deep .mat-content {
          display: grid;
          overflow: hidden;
          grid-template-columns: repeat(8, 1fr);
          font-size: 13px;
          grid-gap: 4px;
          justify-items: center;
          align-items: center;
          width: 100%;
          .button-expanded {
            pointer-events: all;
            margin-left: -15px;
          }
        }
      }
    }
    .row-info {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      justify-items: center;
      align-items: center;
      padding: 5px 0;
      grid-gap: 4px;
      &.title {
        background: lightgray;
        color: dimgray;
        text-transform: uppercase;
        padding: 12px 0;
        border-radius: 10px 10px 0 0;
        font-weight: 500;
        text-align: center;
        font-size: 11.5px;
      }
      &.data {
        padding: 8px 0;
        font-size: 12px;
        text-align: center;
        &:nth-child(odd) {
          background: aliceblue;
          // color: white;
        }
        &:last-child {
          border-radius: 0 0 10px 10px;
        }
      }
      .col-info {
        &.name {
          text-transform: uppercase;
          text-align: center;
        }
        &.count {
          width: 80%;
          text-align: center;
          .mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}

.container-totals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  .container-counts {
    .wrap-counts {
      width: 1000px;
      .row-info {
        // grid-template-columns: 1fr .5fr .5fr;
      }
    }
  }

  .container-totals {
    grid-template-columns: 1fr 1fr;
    justify-items: left;
  }

}