.wrap-button {
  text-align: right;
  a {
    margin-right: 10px;
  }
}

p {
  color: cornflowerblue;
  font-weight: 500;
  font-size: 13px;
  text-align: right;
  text-transform: uppercase;
}

mat-card {
  margin-bottom: 20px;
}