<mat-card class="p-0 container-create-user">
  <mat-card-title class="">
    <div class="card-title-text">Formulario para el registro de una ruta</div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="rutaForm" (submit)="createRuta()">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="100">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="descripcion" formControlName="descripcion" placeholder="Descripción">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="rutaForm.controls['descripcion'].hasError('required') && rutaForm.controls['descripcion'].touched" class="form-error-msg">
                Descripción de la ruta es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-label>Encargado</mat-label>
              <mat-select formControlName="encargado" required>
                <mat-option *ngFor="let empleado of empleados" [value]="empleado">
                  {{empleado.nombre}} {{empleado.apellidoPaterno}} {{empleado.apellidoMaterno}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="rutaForm.controls['encargado'].hasError('required') && rutaForm.controls['encargado'].touched"
                class="form-error-msg">
                Encargado de la ruta es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-label>Coencargado</mat-label>
              <mat-select formControlName="coEncargado" required>
                <mat-option *ngFor="let empleado of empleados" [value]="empleado">
                  {{empleado.nombre}} {{empleado.apellidoPaterno}} {{empleado.apellidoMaterno}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="rutaForm.controls['coEncargado'].hasError('required') && rutaForm.controls['coEncargado'].touched"
                class="form-error-msg">
                Coencargado de la ruta es un campo requerido
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="cont-btns">
        <button mat-raised-button color="primary" [disabled]="rutaForm.invalid" #submitButton type="submit">Agregar</button>
        <button mat-raised-button [routerLink]="'/catalogos/rutas'">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>