.validaciones{
  padding-bottom: 4px;
  // border: 1px solid red;
  height: 0px;
}

.validaciones small{
  padding: 0 !important;
}


.cont-btns{
  text-align: right;
  #accion-articulos {
    display: inline;
    margin-right: 10px;
  }
}


::ng-deep .mat-button-toggle-checked.true {
  background: #a5d6a7 !important;
  color: white;
}

::ng-deep .mat-button-toggle-checked.false {
  background: #ffab91 !important;
  color: white;
}