.mat-title{
  text-align: center;
  img{
    width: 130px;
    margin-bottom: 10px;
  }
}

.mat-title .logo-cima{
  max-width: 130px;
  // margin-left: 15px;
}

.mat-title h3{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.wrap-buttons{
  text-align: right;
  width: 100%;
}