<mat-card class="p-0 container-create-user">
  <mat-card-title class="">
    <div class="card-title-text">Formulario para el registro de un cliente</div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="clienteForm" (submit)="createCustomer()">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="100">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="razonSocial" formControlName="razonSocial" placeholder="Razón Social">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['razonSocial'].hasError('required') && clienteForm.controls['razonSocial'].touched" class="form-error-msg">
                Razón Social es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="rfc" formControlName="rfc" placeholder="RFC">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['rfc'].hasError('required') && clienteForm.controls['rfc'].touched" class="form-error-msg">
                RFC es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="propietario" formControlName="propietario" placeholder="Propietario">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['propietario'].hasError('required') && clienteForm.controls['propietario'].touched" class="form-error-msg">
                Propietario es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="calle" formControlName="calle" placeholder="Calle">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['calle'].hasError('required') && clienteForm.controls['calle'].touched" class="form-error-msg">
                Calle es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="numero" formControlName="numero" placeholder="Número">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['numero'].hasError('required') && clienteForm.controls['numero'].touched" class="form-error-msg">
                Número es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="colonia" formControlName="colonia" placeholder="Colonía">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['colonia'].hasError('required') && clienteForm.controls['colonia'].touched" class="form-error-msg">
                Colonía es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="ciudad" formControlName="ciudad" placeholder="Ciudad">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['ciudad'].hasError('required') && clienteForm.controls['ciudad'].touched" class="form-error-msg">
                Ciudad es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="codigoPostal" formControlName="codigoPostal" placeholder="Código Postal">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['codigoPostal'].hasError('required') && clienteForm.controls['codigoPostal'].touched" class="form-error-msg">
                Código Postal es un campo requerido
              </small>
              <small *ngIf="clienteForm.controls['codigoPostal'].hasError('minlength') && clienteForm.controls['codigoPostal'].touched" class="form-error-msg">
                El Código Postal no debe ser de menor a {{clienteForm.controls['codigoPostal'].errors.minlength.requiredLength}} caracteres 
              </small>
              <small *ngIf="clienteForm.controls['codigoPostal'].hasError('maxlength') && clienteForm.controls['codigoPostal'].touched" class="form-error-msg">
                El Código Postal no debe ser de mayor a {{clienteForm.controls['codigoPostal'].errors.maxlength.requiredLength}} caracteres 
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="telefono" formControlName="telefono" placeholder="Teléfono">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['telefono'].hasError('required') && clienteForm.controls['telefono'].touched" class="form-error-msg">
                Teléfono es un campo requerido
              </small>
              <small *ngIf="clienteForm.controls['telefono'].hasError('maxlength') && clienteForm.controls['telefono'].touched" class="form-error-msg">
                El teléfono no debe ser de mayor a {{clienteForm.controls['telefono'].errors.maxlength.requiredLength}} caracteres 
              </small> 
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="email" name="email" formControlName="email" placeholder="Correo Electrónico">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['email'].hasError('email') && clienteForm.controls['email'].touched" class="form-error-msg">
                Correo electrónico invalido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="observacion" formControlName="observacion" placeholder="Observación">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['observacion'].hasError('required') && clienteForm.controls['observacion'].touched" class="form-error-msg">
                Observación es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-label>Ruta</mat-label>
              <mat-select formControlName="vistaRuta" required>
                <mat-option *ngFor="let ruta of rutas" [value]="ruta">
                  {{ruta.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="clienteForm.controls['vistaRuta'].hasError('required') && clienteForm.controls['vistaRuta'].touched"
                class="form-error-msg">
                Ruta es un campo requerido
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="cont-btns">
        <button mat-raised-button color="primary" [disabled]="clienteForm.invalid" type="submit">Agregar</button>
        <a mat-raised-button [routerLink]="'/catalogos/clientes'">Cancelar</a>
        <a mat-raised-button color="primary" (click)="viewMap()">Mapa</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>