<mat-card class="p-0 container-create-user">
  <mat-card-title class="">
    <div class="card-title-text">Formulario para el registro de una familia</div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="familiaForm" (submit)="createFamily()">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-xs="100">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="descripcion" formControlName="descripcion" placeholder="Descripción">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="familiaForm.controls['descripcion'].hasError('required') && familiaForm.controls['descripcion'].touched"
                class="form-error-msg">
                Descripción de la familia es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-label>Grupo</mat-label>
              <mat-select formControlName="vistaGrupo" required>
                <mat-option *ngFor="let grupo of grupos" [value]="grupo">
                  {{grupo.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="familiaForm.controls['vistaGrupo'].hasError('required') && familiaForm.controls['vistaGrupo'].touched"
                class="form-error-msg">
                Grupo es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="cantidadMinima" formControlName="cantidadMinima" placeholder="Cantidad Mínima" mask="separator.2" thousandSeparator=",">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="familiaForm.controls['cantidadMinima'].hasError('required') && familiaForm.controls['cantidadMinima'].touched"
                class="form-error-msg">
                Cantidad mínima de la familia es un campo requerido
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="cont-btns">
        <button mat-raised-button color="primary" [disabled]="familiaForm.invalid" type="submit">Agregar</button>
        <button mat-raised-button [routerLink]="'/catalogos/familias'">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>