.container-popup {
  .wrap-image {
    text-align: center;
    margin-bottom: 24px;
    img {
      vertical-align: bottom;
      max-width: 120px;
    }
  }
  .wrap-payments {
    margin-bottom: 12px;
  }
  .wrap-money {
    margin-bottom: 20px;
  }
  .wrap-button {
    text-align: right;
  }
}